@model TrialAuthenticationMvcApp.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div>
        Username: @Html.TextBoxFor(l=>l.Username)
    </div>
    <div>
        Password: @Html.PasswordFor(l=>l.Password)
    </div>
    <button type="submit">Login</button>
}
